
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-5">
                <h2 class="text-black">Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="mb-4 mb-lg-0 col-6 col-md-4 col-lg-2 text-center">
                <div class="player mb-5">
                    <span class="team-number">8</span>
                    <img src="/Assets/Client/images/tuan.png" alt="Image" class="img-fluid image rounded-circle">
                    <h2>Tuấn</h2>
                </div>
            </div>
            <div class="mb-4 mb-lg-0 col-6 col-md-4 col-lg-2 text-center">
                <div class="player mb-5">
                    <span class="team-number">7</span>
                    <img src="/Assets/Client/images/chinh.png" alt="Image" class="img-fluid image rounded-circle">
                    <h2>Chính</h2>
                </div>
            </div>
            <div class="mb-4 mb-lg-0 col-6 col-md-4 col-lg-2 text-center">
                <div class="player mb-5">
                    <span class="team-number">6</span>
                    <img src="/Assets/Client/images/a quan.png" alt="Image" class="img-fluid image rounded-circle">
                    <h2>Quân</h2>
                </div>
            </div>
            <div class="mb-4 mb-lg-0 col-6 col-md-4 col-lg-2 text-center">
                <div class="player mb-5">
                    <span class="team-number">5</span>
                    <img src="/Assets/Client/images/lam.png" alt="Image" class="img-fluid image rounded-circle">
                    <h2>Lâm</h2>
                </div>
            </div>
            <div class="mb-4 mb-lg-0 col-6 col-md-4 col-lg-2 text-center">
                <div class="player mb-5">
                    <span class="team-number">4</span>
                    <img src="/Assets/Client/images/luong.png" alt="Image" class="img-fluid image rounded-circle">
                    <h2>Lương</h2>
                </div>
            </div>
            <div class="mb-4 mb-lg-0 col-6 col-md-4 col-lg-2 text-center">
                <div class="player mb-5">
                    <span class="team-number">3</span>
                    <img src="/Assets/Client/images/manh.png" alt="Image" class="img-fluid image rounded-circle">
                    <h2>Mạnh</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mb-4 mb-lg-0 col-6 col-md-4 col-lg-2 text-center">
                <div class="player mb-5">
                    <span class="team-number">2</span>
                    <img src="/Assets/Client/images/a hoang.png" alt="Image" class="img-fluid image rounded-circle">
                    <h2>Hoàng</h2>
                </div>
            </div>
            <div class="mb-4 mb-lg-0 col-6 col-md-4 col-lg-2 text-center">
                <div class="player mb-5">
                    <span class="team-number">1</span>
                    <img src="/Assets/Client/images/athang.png" alt="Image" class="img-fluid image rounded-circle">
                    <h2>Thắng</h2>
                </div>
            </div>
        </div>

    </div>
</div>