@import url('https://fonts.googleapis.com/css?family=Roboto');
body{font-family: 'Roboto', sans-serif !important;}

.form1{border: 1px solid #ececec}
.row{padding: 50px 10px !important;}
.form-row{padding: 16px 10px !important;}