
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h2 class="text-black">Tin tức và sự kiện Namek 2019</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="post-entry">
                    <div class="image">
                        <img src="/Assets/Client/images/duxuan1.jpg" alt="Image" class="img-fluid" style="height: 265px">
                    </div>
                    <div class="text p-4">
                        <h2 class="h5 text-black"><a href="@Url.Action("New1","News")">Du xuân đầu năm Namek 2019</a></h2>
                        <span class="text-uppercase date d-block mb-3"><small>Du xuân &bullet; 15/02/2019</small></span>
                        <p class="mb-0">Du xuân Thumbnail Hoà Bình đầu năm 2019, một buổi đi chơi vui vẻ đầy ý nghĩa của gia đình Namek ...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="post-entry">
                    <div class="image">
                        <img src="/Assets/Client/images/cocaro.jpg" alt="Image" class="img-fluid" style="height: 265px">
                    </div>
                    <div class="text p-4">
                        <h2 class="h5 text-black"><a href="@Url.Action("New2","News")">Namek đề cao sự sáng tạo</a></h2>
                        <span class="text-uppercase date d-block mb-3"><small>Công việc &bullet; 25/04/2019</small></span>
                        <p class="mb-0">Namek đề cao sự sáng tạo để hướng tới các mục tiêu to lớn hơn đó là sự hài lòng, niềm tin của khách hàng ...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="post-entry">
                    <div class="image">
                        <img src="/Assets/Client/images/duxuan.jpg" alt="Image" class="img-fluid" style="height: 265px">
                    </div>
                    <div class="text p-4">
                        <h2 class="h5 text-black"><a href="@Url.Action("New3","News")">Team building Namek 2019</a></h2>
                        <span class="text-uppercase date d-block mb-3"><small>Đi chơi &bullet; 20/03/2019</small></span>
                        <p class="mb-0">Team building gia đình Namek nêu cao tình thần đồng đội gắn bó keo sơn như một gia đình ... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

