
@{
    ViewBag.Title = "New1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="p-t-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-content">
                    <p style="text-align: justify;"><strong>Sau những ngày nghỉ Tết ấm áp bên gia đình, các thành viên Namek lại phấn khởi vui vẻ quay “thủ phủ” Namek. Trong không khí rộn ràng&nbsp;của những ngày đầu xuân năm mới, Ban Lãnh đạo Công ty Cổ phần Namek đã tổ chức chuyến Du Xuân đầu năm 2019 vào ngày 04/2/2019 tức Mồng 15 Tết Âm lịch.</strong></p>
                    <p style="text-align: justify;">Không chỉ là kỳ nghỉ sau một năm bộn bề công việc, không chỉ là hành trình với những trải nghiệm và khám phá thú vị, mà trên hết đó còn là những chuyến đi khởi đầu năm mới nhiều may mắn, hạnh phúc, tài lộc dồi dào và sung túc cả năm cho tất cả thành viên của Namek.</p>
                    <p style="text-align: justify;">Chuyến đi 1 ngày đầu xuân này sẽ là những kỉ niệm đáng nhớ với tất cả, nhớ Chùa Thác Bờ linh thiêng, bình yên nhưng cũng đầy màu sắc. Nhớ Chùa Cái Bầu – Phúc lành từ biển khơi và Thiền viện Giác Tâm tôn nghiêm tráng lệ. Hãy cùng xem lại những hình ảnh đẹp nhất của&nbsp;chuyến đi Du Xuân này nhé:</p>
                    <p style="text-align: justify;"><img class="alignnone wp-image-775 " src="/Assets/Client/images/baiviet1.jpg" width="100%"></p>
                    <p style="text-align: center;"><em>Các thành viên Namek và Tổng giám đốc Nguyễn Văn Quân</em></p>
                    <p style="text-align: justify;">Nếu hành trình phương Bắc quyến rũ du khách với các đường tour thưởng ngoạn hoa mơ, hoa đào bung nở viên mãn, cùng những lễ hội đậm đà bản sắc, những chuyến hành hương lễ chùa cầu bình an và may mắn trong năm mới… thì xuân về trên vùng đất này luôn tạo được ấn tượng tốt với du khách về cả về điểm đến, nếp sống văn hóa và lực hút của biển vốn được xem là đẹp nhất Việt Nam.</p>
                    <p style="text-align: justify;"><img class="alignnone wp-image-775 " src="/Assets/Client/images/baiviet4.jpg" width="100%"></p>
                    <p style="text-align: center;"><em>Đền Chùa Thác Bờ </em></p>
                    <p style="text-align: justify;">Hi vọng, chuyến đi du xuân sẽ&nbsp;mang thật nhiều bình an và tiếp thêm sức sống mới cho tất cả các thành viên để hoàn thành một 2019 rực rỡ,&nbsp;thành công.</p>
                </div>
            </div>
        </div>
    </div>
</section>