
@{
    ViewBag.Title = "New2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="p-t-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="td-post-content">
                    <div class="td-post-featured-image">
                        <p><img src="/Assets/Client/images/cocaro.jpg" alt="" width="100%"></p>
                        <p>Kỹ năng tư suy sáng tạo có thể rèn luyện, tạo ra do môi trường và hoạt động mang tính sáng tạo hàng ngày, trong công việc luôn luôn cần khả năng sáng tạo ở nhân viên để tạo nên khác biệt, sự đột phát trong cách xử lý công việc, thực hiện ý tưởng kinh doanh và phục vụ khách hàng hiệu quả. Vì vậy để nhân viên của mình phát huy và rèn luyện tư duy sáng tạo cần lắm văn hóa doanh nghiệp sáng tạo. Vì sao các doanh nghiệp lại thích sự sáng tạo.</p>

                        <p style="text-align: justify;">Các doanh nghiệp thường thích nói về tính sáng tạo trong công việc, nhưng rất ít trong số họ sẽ làm điều gì đó để nuôi dưỡng sự sáng tạo trên một cơ sở có hệ thống.“<span style="color: #ff6600;"><em>Sự tẻ nhạt trong công việc hàng ngày đôi khi lại là nguyên nhân khiến dòng chảy sáng tạo ở người nhân viên ngày càng giảm</em></span>.” – ông Peter Handal, chủ tịch kiêm giám đốc điều hành Tổ chức Dale Carnegie tại Haupauge, phát biểu.</p>
                        <p style="text-align: justify;">Để xây dựng một môi trường làm việc mang tính sáng tạo, ông đề nghị các doanh nghiệp cần áp dụng những nguyên tắc sau:</p>
                        <p style="text-align: justify;"><span style="color: #3366ff;">–&nbsp; <strong>Tổ chức các buổi luyện tập sự động não.</strong> </span>“ Tổ chức các buổi luyện tập sự động não và hãy là người đầu tiên đưa ra một ý tưởng hoàn mới và trái ngược với những thói quen hiện tại. Đặc biệt là những ý tưởng như vậy không nhất thiết phải được đưa vào thực tiễn mà chỉ như một công cụ để kích thích sự sáng tạo.”- chủ tịch Handal phát biểu.</p>
                        <p style="text-align: justify;"><span style="color: #3366ff;">–&nbsp; <strong>Tạo ra một môi trường đáng tin cậy.</strong> “</span>Mấu chốt để giải phóng và truyền cảm hứng cho tính sang tạo là việc cung cấp một không gian nơi nhân viên cảm thấy thoải mái động não và cho ra đời những ý tưởng thậm chí là mang tính phiêu lưu một chút so với bình thường.”- Handal cho biết.</p>
                        <p style="text-align: justify;"><span style="color: #3366ff;">– <strong>Cung cấp những khóa huấn luyện và các cơ hội nghề nghiệp.</strong> </span>“Tổ chức hội thảo cho nhân viên để cải thiện kỹ năng lãnh đạo và giao tiếp nội bộ. Những khóa đào tạo như vậy sẽ thúc đẩy sự thể hiện ý tưởng và đua nhau xây dựng sự động não.</p>
                        <p style="text-align: justify;"><span style="color: #3366ff;">– <strong>Hãy cởi mở và thể hiện sự sẵn lòng đón nhận. </strong>“</span>Nhân viên có thể sẽ bỏ qua cơ hội trình bày ý tưởng và cơ hội với bạn vì nghĩ rằng họ không nên làm phiền và cắt ngang sự bận rộn của bạn.” Handal nhấn mạnh rằng : “Hãy đảm bảo mọi người biết rằng cánh cửa luôn rộng mở với những ý tưởng”.</p>
                        <p style="text-align: justify;"><span style="color: #3366ff;">– <strong>Yêu cầu thông tin phản hồi.</strong></span> “Chỉ với một hành động đơn giản là yêu cầu được nghe phản hồi từ nhân viên, một nhiệm vụ vô cùng dễ dàng nhưng lại đảm bảo được sự uy tín của bạn trong mong muốn được đầu tư vào niềm yêu thích công việc ở người nhân viên.</p>
                        <p style="text-align: right;" align="right">Namek Vietnam</p>
                    </div>
                </div>
            </div>
        </div>
</section>

