
@{
    ViewBag.Title = "New3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="p-t-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="news-bodyhtml" class="bodytext margin-bottom-lg">
                    <p style="text-align: justify;">
                        <strong><span style="font-size:14px;">&nbsp; &nbsp; &nbsp; Điểm đến đầu tiên của chuyến du xuân là Suối Cá Thần. Cách trung tâm thành phố Thanh Hoá hơn 80 km về phía Tây Bắc, suối cá thần Cẩm Lương (còn gọi là mó Ngọc, suối Ngọc) nằm dưới chân núi Trường Sinh, thuộc bản Lương Ngọc, xã Cẩm Lương (Cẩm Thủy, Thanh Hóa). Giữa bốn bề núi đá vôi dựng đứng, dòng suối Ngọc dài chỉ hơn trăm mét, rộng 3-4 mét. Tại đây có hàng chục nghìn con cá (nặng từ 2 đến 8 kg, cá chúa nặng tới 30 kg) hình thù rất lạ, đủ màu sắc. Mỗi khi bơi, thân cá lại phát sáng...</strong><br>
                        <br>
                        &nbsp; &nbsp; &nbsp; Rời Suối Cá Thần đoàn tiếp tục đến Thành nhà Hồ. Địa chỉ: xã Vĩnh Long, huyện Vĩnh Lộc, tỉnh Thanh Hóa. Thành nhà Hồ (hay còn được gọi là thành Tây Đô hay Tây Kinh) được xây dựng bởi Hồ Quý Ly từ năm 1397. Đây là kinh thành của nước Việt Nam từ năm 1398 đến 1407. Thành Nhà Hồ do Hồ Quý Ly – lúc bấy giờ là tể tướng dưới triều đại nhà Trần – cho xây dựng vào năm 1397. Thành xây xong, Hồ Quý Ly ép Vua Trần Thuận Tông rời đô từ kinh thành Thăng Long (Hà Nội) về Thanh Hóa. Tháng 2 năm Canh Thìn (1400), Hồ Quý Ly lên ngôi vua thay nhà Trần và đặt tên nước là Đại Ngu (1400-1407), thành Nhà Hồ chính thức trở thành kinh đô. Thành Nhà Hồ trong lịch sử còn có các tên gọi khác là thành An Tôn, Tây Đô, Tây Kinh, Tây Nhai, Tây Giai…</span><br>
                        &nbsp;
                    </p>

                    <div style="text-align:center">
                        <figure class="image" style="display:inline-block">
                            <img alt="kttc1" src="/Assets/Client/images/baiviet5.jpg" width="100%">
                            <p><figcaption><em>Bữa ăn thân mật </em></figcaption>
                        </figure></p>
                    </div>

                    <p style="text-align: justify;">
                        <br>
                        <span style="font-size:14px;">&nbsp; &nbsp; &nbsp; Tiếp tục chuyến hành trình của đoàn là Khu Di tích lịch sử Lam Kinh: nơi thờ của các vị vua thời Hậu Lê. Địa chỉ: huyện Thọ Xuân, huyện Ngọc Lặc, tỉnh Thanh Hóa. Thành Lam Kinh (hay còn gọi là Tây Kinh) được xây dựng bởi vua Lê Thái Tổ (Lê Lợi), nơi đây hiện còn lăng mộ của các vua và hậu cung thời Hậu Lê, khu Hoàng thành, cung điện, thái miếu,… Hàng năm vào ngày 22 tháng 8 âm lịch ở đây sẽ tổ chức Lễ hội Lam Kinh (tổ chức vào ngày giỗ của vua Lê Thái Tổ).</span><br>
                        &nbsp;
                    </p>

                    <div style="text-align:center"><img alt="kttc2" src="/Assets/Client/images/baiviet6.jpg" width="100%"></div>

                    <p style="text-align: justify; text-align: center;">
                        <br>
                        <span style="font-size:14px;">&nbsp; &nbsp; &nbsp; Giờ nghỉ ngơi giữ chuyến hành trình</span><br>
                        &nbsp;
                    </p>

                    <p style="text-align: justify;">
                        <br>
                        <span style="font-size:14px;">&nbsp; &nbsp; &nbsp; Sang ngày 25/2, đoàn đã đến dâng hương tại Đền Chín Giếng (còn gọi là Đền Cô Chín) là nơi thờ Cửu Thiên Huyền Nữ - con gái thứ chín của Ngọc Hoàng Thượng Đế. Đền Chín Giếng cách đền Sòng Sơn 1 km về phía Đông, thuộc Trang Cổ Đam, Phú Dương, Phủ Tống Sơn, Thanh Hóa nay là phường Bắc Sơn, thị xã Bỉm Sơn, Thanh Hóa. Được khởi dựng cùng thời với Đền Sòng Sơn (Thời Cảnh Hưng, triều vua Lê Hiển Tông 1740 -1786). Được tu sửa vào năm 1939. Năm 1993 được&nbsp;Bộ Văn Hóa - Thông tin công nhận là Di tích lịch sử - văn hóa cấp Quốc gia. Năm 2004, được trùng tu tôn tạo. Trong trận chiến giữa Tiền Quân Thánh và Chúa Liễu Hạnh tại Sòng Sơn, Liễu Hạnh lâm nạn, biến thành con rồng ẩn về nơi Cửu Thiên Công Chúa đang ngự là chín cái giếng thiêng; Chúa Liễu Hạnh được Cửu thiên Huyền Nữ hóa phép che chở; được Phật Bà Quan Âm ra tay cứu đỡ, nên Liễu Hạnh thoát được lưới vây của Tiền Quân Thánh. Cảm tạ đức từ bi của Phật bà Quan Âm, Chúa Liễu quy y theo Phật và cảm tình cưu mang của Cửu Thiên Huyền Nữ, chúa Liễu Hạnh kết nghĩa chị em với Cửu Thiên Huyền Nữ. Bởi vậy, hàng năm khi lễ rước bóng Thánh Mẫu Liễu Hạnh bao giờ kiệu rước Thánh Mẫu cũng được rước đi từ Đền Sòng sang đến Cô Chín, như muốn nói lên hình ảnh chị đến thăm em - Một nét đẹp truyền thống của dân tộc Việt Nam. Để ghi nhớ và tri ân đối với Cửu Thiên Huyền Nữ , đã có công cứu hộ Chúa Liễu Hạnh, Nhân dân lập đền thờ ngay bên cạnh chín cái giếng thiêng, Vì vậy ngồi đền đó được dân quen gọi là Đền Chín Giếng, hoặc Đền Cô Chín.</span><br>
                        &nbsp;
                    </p>

                    <div style="text-align:center"><img alt="kttc4" src="/Assets/Client/images/baiviet4.jpg" width="100%"></div>

                    <p style="text-align: justify;">
                        <br>
                        <span style="font-size:14px;">&nbsp; &nbsp; &nbsp; Điểm đến cuối cùng của chuyến đi, đoàn đã đến dâng hương tại Đền Trần. Đền Trần là một quần thể đền thờ tại đường Trần Thừa, phường Lộc Vượng, thành phố Nam Định (sát quốc lộ 10), là nơi thờ 14 vị vua nhà Trần cùng gia quyến và các quan lại có công phù tá nhà Trần. Đền Trần được xây dựng từ năm 1695, trên nền Thái miếu&nbsp;cũ của nhà Trần&nbsp;đã bị quân Minh&nbsp;phá hủy vào thế kỷ XV. Đền Trần bao gồm 3 công trình kiến trúc chính là đền Thiên Trường (hay đền Thượng), đền Cố Trạch (hay đền Hạ) và đền Trùng Hoa. Trước khi vào đền, phải qua hệ thống cổng ngũ môn. Qua cổng là một hồ nước hình chữ nhật. Chính giữa phía sau hồ nước là khu đền Thiên Trường. Phía Tây đền Thiên Trường là đền Trùng Hoa, phía Đông là đền Cố Trạch. Cả ba đền đều có kiến trúc chung và quy mô ngang nhau. Mỗi đền gồm tòa tiền đường 5 gian, tòa trung đường 5 gian và tòa chính tẩm 3 gian. Nối tiền đường và trung đường là kinh đàn (thiêu hương) và 2 gian tả hữu.</span><br>
                        &nbsp;
                    </p>

                    <p style="text-align: justify;">
                        <br>
                        <span style="font-size:14px;">&nbsp; &nbsp; &nbsp; Hành trình chuyến du xuân đã diễn ra an toàn, vui vẻ. Chuyến du xuân ý nghĩa này không chỉ đem đến cho cán bộ nhân viên trong phòng niềm hứng khởi với mong muốn khởi đầu một năm mới may mắn, thuận lợi.&nbsp;Chuyến du xuân cũng là dịp để các cán bộ nhân viên tăng thêm tình đoàn kết, sự gắn bó lẫn nhau tạo động lực làm việc và cống hiến hết mình cho Công ty, cùng Công ty hoàn thành xuất sắc nhiệm vụ năm 2019./.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

